{deps, [
    {pvc_proto, {git, "https://github.com/ergl/pvc_proto.git", {tag, "v0.9.0"}}},
    {pvc_types, {git, "https://github.com/ergl/pvc_types.git", {tag, "v0.3.0"}}},
    {pipesock, {git, "https://github.com/ergl/pipesock.git", {ref, "d4a1978cde538e14cd7844bdb0c2d5d9d2780e3e"}}},
    {lager, "3.2.1"}
]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               deprecated_function_calls,
               deprecated_functions]}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform},
            {platform_define, "^[0-9]+", namespaced_types}]}.

{profiles, [
  {lint, [
    {plugins, [
      {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}]}
  ]}
]}.
