{deps, [
    {pvc_proto, {git, "https://github.com/ergl/pvc_proto.git", {tag, "v0.12.2"}}},
    {pvc_types, {git, "https://github.com/ergl/pvc_types.git", {tag, "v0.3.0"}}},
    {pipesock, {git, "https://github.com/ergl/pipesock.git", {branch, "no_watermark"}}}
]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               deprecated_function_calls,
               deprecated_functions]}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types}]}.

{profiles, [
  {lint, [
    {plugins, [
      {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}]}
  ]}
]}.
